.newscard{
    .img{
        margin-bottom: 25px;
    }
    .info{
        .commentss{
            display: flex;
            gap: 30px;
            color: var(--secondary--color);
            
        }
        h4{
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
        }
        p{
            font-size: 15px;
            color: var(--secondary--color);
        }
        a{
            font-weight: 500;
            display: flex;
            gap: 5px;
    transition: .3s;

        }
    }
  &:hover h4{
color: var(--main--color);
  }
  &:hover a{
    color: var(--main--color);
    gap: 10px;
    transition: .3s;
      }  
      
}